body{
    font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
}
h2{
    font size: 30px;
}
h3{
  padding-left: 50px;
}
h1{
    font-size: 60px;
}
section{
    display: flex;
}
.camera{
    width: 100%;
    padding: 20px 100px 80px 100px;
   
    
}
.camera p{
    text-align: left;
}

.header-image{
    width: 410px;
	height: auto;
    -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
    margin-right: 200px;
}
.header-image:hover{
    width: 450px;
}

.book-now{
    text-decoration: none;
    background-color: rgb(221, 51, 79);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
   

}
.fas{
    color: rgb(235, 186, 25);
}
.frame{
    margin: 30px;
    box-shadow: 10px 10px 40px gray;
    padding-left: 10px;
}

.pic img{
    border-radius: 10px;
}
.collaction{
    display: flex;
    flex-wrap: wrap;
    margin-right: 300px;
    margin-left: 250px;
   
}
.pop-col{
padding-left: 630px;
}
.see-more{
    color: hotpink;
    align-content: right;
}
.more{
    text-align: right;
    padding-right: 350px;
}
footer h3, p, a{
    text-align: center;
}
 
.bottom{
    background-color: black;
    padding: 45px;
    width: 100%;
    text-align: center;
}
.white-color{
    color:white ;
}
.fab{
    color: white;
  padding-left: 45px;
    
}

.social{
    text-align: center;
}